
#player{
    width: 120px;
    height: 120px;
    background-image: url('../img/boy_idle_120.png');    
    animation: play 0.8s steps(12) infinite;
}

@keyframes play {
    100% { background-position: -1440px; }
 }